<!--Output all comments-->
<ng-content *ngIf="isUserSignedIn$; then signedIn">
    </ng-content >
    <ng-template #signedIn>
    <div class="input-area">
    <form name="messageForm" #messageForm="ngForm">
    <div>
    
                <h3>{{user.username}}</h3>
                <p></p>
                <textarea type="text" class="comment" placeholder="Message text" [(ngModel)]="comment.text" name="text"></textarea><br>
                <button class="button_all" (click) ="this.addComment()">Send</button>
    
    </div> 
      
    </form>
    </div>
    </ng-template>

    <table class="table_all m-t-20">
        <td class="filmname"><br><p>Comments:</p></td>
    </table>

    <ul class="comment" *ngFor="let comment of comments">
     <span class="text" style ="font-weight: 600">{{comment.username}}</span><br>
      <span class ="text"> {{comment.text}} </span>
    </ul>




