<!--Output all comments-->
<ng-content *ngIf="isUserSignedIn$; then signedIn">
    </ng-content >
    <ng-template #signedIn>
    <div class="input-area">
    <form name="messageForm" #messageForm="ngForm">
    <div>
    
        <h3>{{user.username}}</h3>
        <p></p>
        <textarea type="text" class="comment" placeholder="Message text" [(ngModel)]="comment.text" name="text"></textarea><br>
        <button class="button_all" (click) ="this.addComment()">Send</button>
    
    </div> 
      
    </form>
    </div>
    </ng-template>
    <table class="table_all">
    <div style="margin-bottom: 38px; margin-top: 10px;" *ngFor="let comment of this.comments">
            <tr>
              <td class="filmname">
                <p>
                  <i class="fas fa-comments color_icon"></i>
                  <span class="p-r-10 p-l-25">
                    {{comment.username}}
                  </span>
                </p>
              </td>
            </tr>
            <tr>
              <td class="comment">{{comment.text}}</td>
            </tr>
          </div>
        </table>




