<!doctype html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
<div class="m-t-40"></div>
        <table class="table_all">
          <tr>
            <th colspan="2">TOP RATED MOVIES<br><span class="style_top_th">Top 5 rated by Movie Guide Users</span>
            </th>
          </tr>
			<tr>
					<td><img src="https://img0.liveinternet.ru/images/attach/c/5/87/551/87551274_743664_kinopoisk_ruPulpFiction1480737.jpg" width="100%" alt=""/></td>
			<td>
				<i class="fas fa-trophy yellow"></i>1.название
				<p><span class="p-r-10 p-l-25">Overall Rating:</span><i class="fas fa-star yellow"></i><span style="font-weight: 600">рейтинг</span></p>
			</td>
			</tr>
			<tr>
					<td><img src="https://img0.liveinternet.ru/images/attach/c/5/87/551/87551274_743664_kinopoisk_ruPulpFiction1480737.jpg" width="100%" alt=""/></td>
			<td>
				<i class="fas fa-medal"></i> 2.название 
				<p><span class="p-r-10 p-l-25">Overall Rating:</span><i class="fas fa-star yellow"></i><span style="font-weight: 600">рейтинг</span></p>
			</td>
			</tr>
			<tr>
					<td><img src="https://img0.liveinternet.ru/images/attach/c/5/87/551/87551274_743664_kinopoisk_ruPulpFiction1480737.jpg" width="100%" alt=""/></td>
			<td>
				<i class="fas fa-medal bronze"></i> 3.название 
				<p><span class="p-r-10 p-l-25">Overall Rating:</span><i class="fas fa-star yellow"></i><span style="font-weight: 600">рейтинг</span></p>
			</td>
			</tr>
			<tr>

					<td><img src="https://img0.liveinternet.ru/images/attach/c/5/87/551/87551274_743664_kinopoisk_ruPulpFiction1480737.jpg" width="100%" alt=""/></td>
			<td>
				<i class="fas fa-film"></i> 4. название 
				<p><span class="p-r-10 p-l-25">Overall Rating:</span><i class="fas fa-star yellow"></i><span style="font-weight: 600">рейтинг</span></p>
			</td>
			</tr>
			<tr>
			<td><img src="https://img0.liveinternet.ru/images/attach/c/5/87/551/87551274_743664_kinopoisk_ruPulpFiction1480737.jpg" width="100%" alt=""/></td>
			<td>
				<i class="fas fa-film"></i> 5. название 
				<p><span class="p-r-10 p-l-25">Overall Rating:</span><i class="fas fa-star yellow"></i><span style="font-weight: 600">рейтинг</span></p>
			</td>
      </tr>
    </table>  
	</body>
  </html>