<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Registration</title>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        <form class="login100-form validate-form" [formGroup]="registerForm" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

          <!-- <div class="wrap-input100 validate-input">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="login" [(ngModel)]="user.login"
            #userLogin="ngModel" required minlength="4" maxlength="30"
            (keydown.space)="$event.preventDefault();"
            placeholder="Type your username">
            <div class="alert-validate" data-validate="Login is required"
             [hidden] = "!userLogin.errors?.required || userLogin.untouched"></div>
            <div class="alert-validate" data-validate="Username must be between 4 and 30 characters long" 
            [hidden] = "!userLogin.errors?.minlength"></div>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div> -->

          <div class="wrap-input100 validate-input">
              <span class="label-input100">Username</span>
              <input class="input100" type="text" [(ngModel)]="user.login"
               placeholder="Type your username" 
               formControlName="login" maxlength="35" pattern="^([a-zA-Z0-9_\-\.]+)$"
               (keydown.space)="$event.preventDefault();"
               [ngClass]="{ 'is-invalid': f.login.errors }">
                <div *ngIf="f.login.errors">
                    <div [hidden]="!f.login.errors.required || f.login.untouched" class="alert-validate" data-validate="Username is required"></div>
                    <div *ngIf="f.login.errors.minlength" class="alert-validate" data-validate="Username must be between 4 and 20 characters long"></div>
                    <div *ngIf="f.login.errors.maxlength" class="alert-validate" data-validate="Username must be between 4 and 20 characters long"></div>
                    <div *ngIf="f.login.errors.pattern" class="alert-validate" data-validate="Only latin letters, numbers, underscore, hyphen and points are allowed "></div>
                </div>
              <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>


          <div class="wrap-input100 validate-input">
            <span class="label-input100">E-mail</span>
            <input class="input100" type="email"  formControlName="email" maxlength="45" [(ngModel)]="user.email"
            (keydown.space)="$event.preventDefault();"
            [(ngModel)]="user.email" 
            pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$"
            placeholder="Type your e-mail" [ngClass]="{ 'is-invalid': f.email.errors }">
            <div *ngIf="f.email.errors">
              <div [hidden]="!f.email.errors.required || f.email.untouched" class="alert-validate" data-validate="Email is required"></div>
              <div *ngIf="f.email.errors.pattern" class="alert-validate" data-validate="Valid e-mail is required: ex@abc.xyz"></div>
            </div>           
            <span class="focus-input100" data-symbol="&#x2709;"></span>
          </div>


          

          <div class="wrap-input100 validate-input">
              <span class="label-input100">Password</span>
              <input class="input100" type="password" [(ngModel)]="user.password"
               placeholder="Type your password"
               formControlName="password" maxlength="35"
               [ngClass]="{ 'is-invalid': f.password.errors }"> 
                <div *ngIf="f.password.errors">
                    <div [hidden]="!f.password.errors.required || f.password.untouched" class="alert-validate" data-validate="Password is required"></div>
                    <div *ngIf="f.password.errors.minlength" class="alert-validate" data-validate="Password must be between 6 and 20 characters long"></div>
                    <div *ngIf="f.password.errors.maxlength" class="alert-validate" data-validate="Password must be between 6 and 20 characters long"></div>
                </div>
              <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>

          <div class="wrap-input100 validate-input">
            <span class="label-input100">Password Confirm</span>
            <input class="input100" type="password"
             placeholder="Repeat your password"
             formControlName="confirmPassword" maxlength="35"
             [ngClass]="{ 'is-invalid': f.confirmPassword.errors }">
              <div *ngIf="f.confirmPassword.errors">
                  <div [hidden]="!f.confirmPassword.errors.required || f.confirmPassword.untouched" class="alert-validate" data-validate="Confirm Password is required"></div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch" class="alert-validate" data-validate="Passwords are different"></div>
              </div>
            <span class="focus-input100" data-symbol="&#xf190;"></span>
          </div>

          <div style="padding-bottom: 31px;"></div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="button"
              [disabled] = "!userForm.form.valid"
              [ngClass] = "{'login100-form-btn':userForm.form.valid}" (click)="onSubmit()"
              > Sign up </button>
            </div>
          </div>
          <div class="signUpLogin"><a href="#" class="txt3"> Continue as a guest </a> </div>
        </form>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="../authFrontAnimation.js"></script>
</body>