.button_all {
	display: block;
	float:left;
	width: 40vh;
	margin-left: -21px;
}

.button_all a {
    border: 0.5px solid #333;
    display: block;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 200px;
    padding: 8px 20px;
    text-align: center;
	border-radius: 25px;
}
.button_all a:hover {
    border-color: #80c7ba;
    color: #80c7ba;
}

.table_all {
	margin-left: 3%;
	background: white;
    width: 95%;
    border-collapse: collapse;
    font-family: "Century Gothic";
    text-align: left;
	letter-spacing: 1px;
}

.table_all th {
	text-transform: uppercase;
    font-weight:400;
	font-size: 18px;
    border-bottom: 1px solid #AEADAD;
    color: #2E2E2E;
    padding: 10px 0px 10px 5vw;
    line-height: 1.5;
}
.table_all th:first-child {
	width: 40vw;
}

.table_all td {
	font-size: 14px;
    color: #666666;
    padding: 10px 10px;
}
.comment {
	border: 0.5px solid #333;
	border-radius: 5px;
    display: block;
    line-height: 1.4;
    text-align: center;
	text-align: left;
    width: 38vw;
    margin-bottom: 10px; 
}
.filmname p {
	color: #2E2E2E;
	font-weight: 600;
}
.p-r-10 {
	padding-right: 10px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-20 {
	margin-top: 20px;
}
.yellow {
  color:#FFC800;
	padding-right: 3px;
}

@media (max-width: 1200px)
{
    .comment {
        width: 50vw;
    }
}