################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Entities/obj
/.vs/IPZProj/v15
/.vs
/Entities/bin/Debug/netcoreapp2.1
