################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/DAL/bin
/DAL/obj
/Entities/bin
/Entities/obj
/BLL/bin
/BLL/obj
.ide
/IPZProj/ClientApp/node_modules
/IPZProj/bin/Debug/netcoreapp2.1
/IPZProj/obj/Debug/netcoreapp2.1
/IPZProj/obj/Release/netcoreapp2.1
/package-lock.json
