<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

<div *ngIf="film">
    <div>
        <article class="film">
            <div style=display:inline-block;>
                <h3>{{film.name | uppercase}} ({{film.year}})</h3>
                <p>
                    <img [src]="film.filmImgPath" class="placeholder_left">
                </p>


                <div style="display: inherit;">
                    <p class="header_info">
                        General Information</p>
                    <div *ngIf="film.originCountry">
                        <p><span style="font-weight: 600;">Country:</span> {{film.originCountry}}</p>
                    </div>
                    <div *ngIf="film.durationInMinutes">
                        <p><span style="font-weight: 600;">Duration:</span> {{film.durationInMinutes}} min</p>
                    </div>
                    <div *ngIf="film.director">
                        <p><span style="font-weight: 600;">Director:</span> {{film.director}}</p>
                    </div>
                    <div *ngIf="film.budget">
                        <p><span style="font-weight: 600;">Budget:</span> &#36;{{film.budget}}</p>
                    </div>

                    <div>
                        <p><span style="font-weight: 600;">Rating:</span> 
                            <i class="fas fa-star yellow" style="padding-left: 10px;"></i>
                            {{this.film.ratingAvg}}</p>
                    </div>

                    <!-- <div class="line"></div> -->
                    <div style="margin-bottom: 10px;"><span style="font-weight: 600;">Genre:</span></div>
                    <div>
                        
                            <ul *ngIf="this.film.genres">
                                <li *ngFor="let genre of this.genres; let i = index"> 
                                        {{ i + 1 }}. {{ genre }} 
                                </li>
                            </ul>
                    </div>

                    
                </div>

                
                <div style="display: inline-block;">
                        <div style=display:inline-block;>
                            <app-rating-voting [filmId]="film.id"></app-rating-voting>
                        </div>
                    <br>
                    <h4>Movie Description</h4>
                    <p>{{film.description}}</p>
                    <br>
                    <iframe [src]="this.trustedVideoURL"></iframe>
                </div>

            </div>
            <br><br><br>
            <app-comments-list [filmId]="film.id"></app-comments-list>

        </article>
    </div>

</div>
</body>
</html>