<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div *ngIf="film">
    <div>
        <article class="film">
            <div style=display:inline-block;>
            <h3>{{film.name | uppercase}} ({{film.year}})</h3>
            <p>
             <img [src]="film.filmImgPath" class="placeholder_left">
            </p>
            <h4>Movie Description</h4>
            <p>{{film.description}}</p>
            <div *ngIf="film.budget">
            <p>Budget: &#36;{{film.budget}}</p>
            </div>
            <div *ngIf="film.durationInMinutes">
            <p>{{film.durationInMinutes}} min</p>
            </div>
            <div *ngIf="film.director">
            <p>Director: {{film.director}}</p>
            </div>
            <div *ngIf="film.originCountry">
            <p>Country: {{film.originCountry}}</p>
            </div>
            <div *ngIf="this.film.genres">
            <p>Genre: 
            <div *ngFor="let genre of this.genres">
                <p>{{genre}}</p> 
            </div>
            </div>
            </div>
            <p></p>
            <h3>{{this.film.ratingAvg}}</h3>

            <div style = display:block;><app-rating-voting [filmId]="film.id"></app-rating-voting></div>

            <br><br><br>

            <iframe [src]="this.trustedVideoURL"></iframe>

            <br><br><br>
            <app-comments-list [filmId]="film.id"></app-comments-list>
        
        </article>
    </div>
    
    
    
    <!--Detailed info output about selected film-->

    <!--Write up the remaining film properties-->
    


    <!--Add voting component-->
    <!--Add comment list component-->

</div>

