@charset "UTF-8";
  .sectionInAppComponent
  {
    display: inline-block;
  }
  
  .placeholder_left {
      margin-right: 24px;
      margin-top: 9px;
      margin-bottom: 5px;
      float: left;
      width: 40vh;
      height: auto;
  }

  .film{
    margin-top: 6vh;
    margin-left: 10vw;
  }

  .header_info {
    margin-bottom: 20px; 
    font-size: 18px; 
    font-weight: 600;
  }

  .line {
    border-top: 1px solid #333;
    margin-top: 10px 0px;
    padding: 10px 0;
    width: 150%;
  }
  .yellow {
    color:#FFC800;
    padding-right: 3px;
  }
  
  