@charset "UTF-8";
  .sectionInAppComponent
  {
    display: inline-block;
  }
  
  .placeholder_left {
      margin-right: 24px;
      margin-top: 9px;
      margin-bottom: 5px;
      float: left;
      width: 40vh;
      height: auto;
  }

  .film{
    margin-top: 6vh;
    margin-left: 10vw;
  }

  .header_info {
    margin-bottom: 20px; 
    font-size: 18px; 
    font-weight: 600;
  }
  
  
 
  