<div *ngIf="film">
    <div>
        <article style="margin-top:4vh;">
            <h3>{{film.name | uppercase}} ({{film.year}})</h3> 
            <p>
             <img [src]="film.filmImgPath" class="placeholder_left">
            </p>
            <h4>Movie Description</h4>
            <p>{{film.description}}</p>
            <p>Budget: &#36;{{film.budget}}</p>
        
            <div *ngFor="let genre of film.genres">
                <p>{{this.getFilmGenre(genre)}}</p> 
            </div>
            
            <app-comments-list [filmId]="film.id"></app-comments-list>
        </article>
    </div>
    
    
    
    <!--Detailed info output about selected film-->

    <!--Write up the remaining film properties-->
    


    <!--Add voting component-->
    <!--Add comment list component-->

</div>

