
    <footer>
      <div class="wrap">
        <nav>
          <ul>
            <li><a title="/films" href="">All movies </a></li>
            <li><a routerLink="/sign-in">Sign in</a>
              <li><a routerLink="/sign-up">Sign up</a>
            
            <li class="more"><a href="" class="inline-popup">Read about this project</a></li>
          </ul>
        </nav>
        <small class="side-commerce"> Project By Sheliakhina Vladislava, Motyashova Alyona, Tkachenko Olena </small> </div>
    </footer>