<div class="content">
<aside class="left scrollbar">
  <ul>
    <button (click)="this.getFilms()">All</button>
      <div *ngFor="let genre of this.genres; let genreIndex = index">
            <button (click)="this.getByGenreFilms(genreIndex + 1)">
                {{genre}}
            </button>
      </div>
</ul>
</aside>

<section class ="right scrollbar">
    <ul id="grid" class="films">
      <li *ngFor="let film of films">
        <a routerLink="/films/{{film.id}}">
           <img id ="filmImg" [src]="film.filmImgPath">
        </a>
      </li>
    </ul>
  </section>
</div>



