<!doctype html>
<html>

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>
	<div class="m-t-40"></div>
	<div>
		<table class="table_all" >
			<tr>
				<th colspan="2">TOP RATED MOVIES<br><span class="style_top_th">Top 5 rated by Movie Guide Users</span>
				</th>
			</tr>
			<tr *ngFor="let film of films; let i = index">
				<td>
					<a routerLink="/films/{{film.id}}">
						<img [src]="film.filmImgPath" width="100%" alt="" />
					</a>
				</td>
				<td>
					<i class="fas fa-trophy yellow"></i>{{i+1}}. {{film.name | uppercase}} ({{film.year}})
					<p><span class="p-r-10 p-l-25">Overall Rating:</span><i class="fas fa-star yellow"></i><span
							style="font-weight: 600">{{film.ratingAvg}}</span></p>
				</td>
			</tr>
			<tr>
		</table>
	</div>
</body>

</html>