.table_all {
	margin-left: 3%;
	background: white;
    width: 95%;
    border-collapse: collapse;
    font-family: "Century Gothic";
    text-align: left;
	letter-spacing: 1px;
}

.table_all th {
	text-transform: uppercase;
    font-weight:400;
	font-size: 18px;
    border-bottom: 1px solid #AEADAD;
    color: #2E2E2E;
    padding: 10px 23vw 10px 5vw;
    line-height: 1.5;
}
.table_all th:first-child {
	width: 33vh;
}
.table_all td:nth-child(2){
	font-size: 14px;
    color: #666666;
	width: 87vh;
	text-align: left;
	padding: 0 0 0 30px; 
}
.table_all td:first-child{
    padding: 15px 0 0 5vw;
	width: 23vh;
}
.p-r-10 {
	padding-right: 10px;
}
.p-l-25 {
	padding-left: 25px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-b-40 {
	margin-bottom: 40px;
}
.yellow {
  	color:#FFC800;
	padding-right: 3px;
}
.bronze {
	color:sandybrown;
}
.style_top_th{
	font-size: 70%;	
	text-transform: none;
	line-height: 1;
}
