<div class="content">

<aside class="left">
  <ul>
    <li>Action</li>
    <li>Adventure</li>
    <li>Biography</li>
    <li>Comedy</li>
    <li>Crime</li>
    <li>Documentary</li>
    <li>Drama</li>
    <li>Family</li>
    <li>Fantasy</li>
    <li>History</li>
    <li>Horror</li>
    <li>Music</li>
    <li>Musical</li>
    <li>Mystery</li>
    <li>Romance</li>
    <li>SciFi</li>
    <li>Short</li>
    <li>Sport</li>
    <li>Superhero</li>
    <li>Thriller</li>
    <li>War</li>
    <li>Western</li>
  
</ul>
</aside>

<aside class ="right">

  <h2 id="firstElement"></h2>
    <ul id="grid" class="films">
      <li *ngFor="let film of films">
        <a routerLink="/{{film.id}}">
           <img id ="filmImg" [src]="film.filmImgPath">
        </a>
      </li>
    </ul>
  </aside>
  
</div>



