#grid { 
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    width: 100%;
    }
  #filmImg {
    height: 20vw;
  }
  #firstElement {
    margin-top: 3%;
    margin-bottom: 2%;
  }
  ul {
    list-style-type: none;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    width: 100%;  

      background-color: #FFFFFF;
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      border-bottom-width: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      
  }

  aside {
    
    padding: 10px;
    
   }
   article {
    margin-right: 240px;
    display: block;
   }
   
  .left{
    position: auto; 
    width: 20vw;
    height: 68vh;
    overflow-y: auto;

  }
  .right{
    width: 78vw; 
    height: 68vh;
    overflow-y: auto;
  }