#grid { 
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-gap: 1vw;
    width: 100%;
    }
  #filmImg {
    height: 25vw;
  }
  ul {
    list-style-type: none;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    width: 100%;  
      background-color: #FFFFFF;
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      border-bottom-width: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      
  }

  aside {
    padding: 10px;
   }
   article {
    margin-right: 240px;
    display: block;
   }
   
  .left{
    position: auto; 
    width: 20vw;
    height: 68vh;
    overflow-y: auto;
  }
  .right{
    width: 78vw; 
    height: 68vh;
    overflow-y: auto;
  }
  .scrollbar
{
	float: left;
	overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}