<header>
  <nav class="header_style">
    <ul>
      <li style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
        <a routerLink="/films">
          MOVI&Xi; GUID&Xi;
        </a>
      </li>  
      
      
      <li>
        <table class="table_search" style="border: none;">
         <tr>
           <td><img src="../assets/icon_search.svg"/></td>
           <td><input class="user_input" type="text" placeholder="Search..."> </td>
         </tr>
   
       </table></li> 
      <li> TOP RATED MOVIES</li>
      <li routerLink="/sign-in">SIGN IN</li>
      <li routerLink="/sign-up">SIGN UP</li>
    </ul>
  </nav>
</header>